@model StudentskaSluzba.Models.StudentiPredmeti
@{
    ViewData["Title"] = "AddUspjeh";
    var predmeti = (List<Predmet>)ViewData["predmeti"];
    int[] ocjene = { 6, 7, 8, 9, 10 };
}

<div class="container">
    <form method="post" asp-action="EditUspjeh">
        <div asp-validation-summary="ModelOnly"></div>
        <input asp-for="StudentId" value="@Model.StudentId" hidden />
        <div class="form-group">
            <label asp-for="Predmet"></label>
            <select name="PredmetId" class="form-control">
                <option value="@Model.PredmetId" selected hidden>@Model.Predmet.Naziv</option>
                @{
                    foreach (var predmet in predmeti)
                    {
                        <option value="@predmet.Id">
                            @predmet.Naziv
                        </option>
                    }
                }
            </select>
        </div>

        <div>
            <label>Datum polaganja</label>
            @Html.EditorFor(model => model.DatumPolaganja, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            <label>Ocjene</label>
            <select class="form-control" name="Ocjena">
                <option value="@Model.Ocjena" selected hidden>@Model.Ocjena</option>
                @{
                    foreach (var ocjena in ocjene)
                    {
                        <option value="@ocjena" asp-for="Ocjena">
                            @ocjena
                        </option>
                    }
                }
            </select>
        </div>

        <input type="submit" class="btn btn-success" value="Spasi promjene" />
        <a asp-controller="Student" asp-route-id="@Model.StudentId" asp-action="Uspjeh" class="btn btn-success">Nazad</a>

    </form>
</div>

