@model StudentskaSluzba.Models.StudentiPredmeti
@{
    var predmeti = (List<Predmet>)ViewData["predmeti"];
    int[] ocjene = { 6, 7, 8, 9, 10 };
}

<div class="container">
    <div asp-validation-summary="ModelOnly"></div>
    <form method="post" asp-action="EditUspjeh">
        <input asp-for="StudentId" hidden />

        <div class="form-group">
            <label asp-for="Predmet"></label>
            <select name="PredmetId" class="form-control">
                @if (@Model.PredmetId == null)
                {
                    <option selected hidden disabled>Odaberite predmet</option>
                }
                else
                {
                    <option value="@Model.PredmetId" selected hidden>@Model.Predmet.Naziv</option>
                }
                @{
                    foreach (var predmet in predmeti)
                    {
                        <option value="@predmet.Id">
                            @predmet.Naziv
                        </option>
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label>Datum polaganja</label>
            <input asp-for="DatumPolaganja" type="date" class="form-control" />
            <span asp-validation-for="DatumPolaganja" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Ocjene</label>
            <select class="form-control" name="Ocjena">
                @if (@Model.Ocjena == null)
                {
                    <option selected hidden disabled>Odaberite ocjenu</option>
                }
                else
                {
                    <option value="@Model.Ocjena" selected hidden>@Model.Ocjena</option>
                }
                @{
                    foreach (var ocjena in ocjene)
                    {
                        <option value="@ocjena" asp-for="Ocjena">
                            @ocjena
                        </option>
                    }
                }
            </select>
        </div>

        <input type="submit" class="btn btn-success" value="Spasi promjene" />
        <a asp-route-id="@Model.StudentId" asp-action="Uspjeh" class="btn btn-success">Nazad</a>

    </form>
</div>

